<div class="login">
  <div class="login__header">
    <app-navbar></app-navbar>
  </div>
  <div class="login__body">
    <div class="login-body__container">
      <form 
        [formGroup]="loginForm"
        class="login__form"
      >
        <div class="login-form__container">
          <div class="login-form__header">
            <h3 class="login-form-header__title">Войти</h3>
            <a 
              routerLink="/register"
              class="login-form-header__register"
            >
              Создать аккаунт
            </a>
          </div>
          <div 
            *ngIf="message"
            class="login-form__message"
          >
            <div class="login-form__error">
              {{ message }}
            </div>
          </div>
          <div class="login-form__items">
            <div class="login-form__item">
              <input 
                type="text" 
                id="email"
                class="form-input"
                formControlName="email"
                required=""
              >
              <label class="form-label" for="email">Почта</label>
              <div
                class="form-message invisible"
                [class.visible]="isSubmitted"
              >
                <p 
                  class="form-error invisible"
                  [class.visible]="loginForm.get('email').hasError('required')"
                >
                  Поле должно быть заполнено
                </p>
                <p
                  class="form-error invisible" 
                  [class.visible]="loginForm.get('email').hasError('email')"
                >
                  Введите корректный адрес электронной почты
                </p>
              </div>
            </div>
            <div class="login-form__item">
              <input 
                type="password" 
                id="password"
                class="form-input"
                formControlName="password"
                required=""
              >
              <label class="form-label" for="password">Пароль</label>
              <div
                class="form-message invisible"
                [class.visible]="isSubmitted"
              >
                <p 
                  class="form-error invisible"
                  [class.visible]="loginForm.get('password').hasError('required')"
                >
                  Поле должно быть заполнено
                </p>
              </div>
            </div>
          </div>
          <div class="login-form__submit">
            <button 
              (click)="onLoginClick()"
              class="btn login-btn"
            >
              Войти
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>