.photo {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--clr-light);
    background-color: var(--transparent);
    padding: var(--padding);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    --clr-green: #47d764;
}

.photo__container {
    background-color: var(--clr-dark);
    min-width: 300px;
    height: min-content;
    box-shadow: 0 0 3px #63636363;
    padding: 10px;
    border-radius: 3px;
}

.no-select {
    user-select: none; /* Для современных браузеров */
    -webkit-user-select: none; /* Для Safari */
    -moz-user-select: none; /* Для Firefox */
    -ms-user-select: none; /* Для Internet Explorer/Edge */
}

.close-icon::before, .close-icon::after {
    background-color: var(--clr-light);
}

.editor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.editor__container {
    position: relative;
}

.editor__photo {
}

.editor__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 50px;
    border: 2px solid var(--clr-light);
    cursor: move;
}

.editor__error {
    width: 100%;
    text-align: center;
    padding: 15px;
}

.submit__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 7px;
}

.submit__btn {
    color: var(--clr-light);
    background-color: var(--clr-dark);
    box-shadow: 0 0 10px #5b5b5b;
    padding: 7px 14px;
    cursor: pointer;
    transition: all 0.7s ease;
    transition-delay: 0.1s;
}

.submit__btn:hover {
    scale: 1.05;
    box-shadow: 0 0 17px #5b5b5b;
}