<div class="wrapper">
  <div class="container">
    <section class="navbar">
      <div class="navbar__container">
        <nav class="navbar__collapse">
          <label for="active-navbar" class="hamburger-menu">
            <input type="checkbox" id="active-navbar">
          </label>
          <div class="navbar-collapse__list">
            <div class="navbar-collapse-list__container">
              <div class="navbar-collapse-list__items">
                <div class="navbar-collapst-list__brand">
                  <a 
                    routerLink="" 
                    class="navbar-collapse-link"
                  >
                    Fit Library
                  </a>
                </div>
                <ul class="navbar-collapse-list__modules">
                  <li class="navbar-collapse-list__module">
                    <a 
                      routerLink="training-plan" 
                      class="navbar-collapse-link"
                    >
                      Training plans
                    </a>
                  </li>
                  <li class="navbar-collapse-list__module">
                    <a href="#" class="navbar-collapse-link">Posts</a>
                  </li>
                  <li class="navbar-collapse-list__module">
                    <a href="#" class="navbar-collapse-link">Mode</a>
                  </li>
                  <li class="navbar-collapse-list__module">
                    <a href="#" class="navbar-collapse-link">Contacts</a>
                  </li>
                </ul>
                <ul class="navbar-collapse-list__socials">
                  <li class="navbar-collapse-list__social">
                    <a href="#" class="navbar-collapse-link">
                      <img 
                        src="../../assets/navbar/telegram.svg" 
                        alt="Telegram"
                        width="40px"
                        class="navbar-collapse-link-image"
                      >
                    </a>
                  </li>
                  <li class="navbar-collapse-list__social">
                    <a href="#" class="navbar-collapse-link">
                      <img 
                        src="../../assets/navbar/instagram.svg" 
                        alt="Instagram"
                        width="40px"
                        class="navbar-collapse-link-image"
                      >
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </section>
  </div>
</div>