<div class="wrapper">
  <section class="header">
    <app-navbar></app-navbar>
  </section>
  <section class="body">
    <article class="training-plans">
      <div class="training-plans__container">
        <div class="training-plans__header">

        </div>
        <div class="training-plans__body">
          <div class="training-plans-body__container">
            <div class="training-plans-body__items">
              <div class="training-plans-body__item">
                <div class="card">
                  <div class="card__container">
                    <div class="card__header">
                      <div class="card__image">
                        <img 
                          src="../../../assets/home/fitness-women-in-gym.jpeg" 
                          alt="Training Plan" 
                          width="100%" 
                          class="card-image-image"
                        >
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card-body__title">
                        <h1>Training Plan #1</h1>
                      </div>
                      <div class="card-body__desc">
                        Training plan for proffesionals...
                      </div>
                      <div class="card__footer">
                        <div class="card-footer__items">
                          <div class="card-footer__item">
                            777$
                          </div>
                          <div class="card-footer__item">
                            5 balls
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="training-plans-body__item">
                <div class="card">
                  <div class="card__container">
                    <div class="card__header">
                      <div class="card__image">
                        <img 
                          src="../../../assets/home/fitness-women-in-gym.jpeg" 
                          alt="Training Plan" 
                          width="100%" 
                          class="card-image-image"
                        >
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card-body__title">
                        <h1>Training Plan #1</h1>
                      </div>
                      <div class="card-body__desc">
                        Training plan for proffesionals...
                      </div>
                      <div class="card__footer">
                        <div class="card-footer__items">
                          <div class="card-footer__item">
                            777$
                          </div>
                          <div class="card-footer__item">
                            5 balls
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="training-plans-body__item">
                <div class="card">
                  <div class="card__container">
                    <div class="card__header">
                      <div class="card__image">
                        <img 
                          src="../../../assets/home/fitness-women-in-gym.jpeg" 
                          alt="Training Plan" 
                          width="100%" 
                          class="card-image-image"
                        >
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card-body__title">
                        <h1>Training Plan #1</h1>
                      </div>
                      <div class="card-body__desc">
                        Training plan for proffesionals...
                      </div>
                      <div class="card__footer">
                        <div class="card-footer__items">
                          <div class="card-footer__item">
                            777$
                          </div>
                          <div class="card-footer__item">
                            5 balls
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="training-plans-body__item">
                <div class="card">
                  <div class="card__container">
                    <div class="card__header">
                      <div class="card__image">
                        <img 
                          src="../../../assets/home/fitness-women-in-gym.jpeg" 
                          alt="Training Plan" 
                          width="100%" 
                          class="card-image-image"
                        >
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card-body__title">
                        <h1>Training Plan #1</h1>
                      </div>
                      <div class="card-body__desc">
                        Training plan for proffesionals...
                      </div>
                      <div class="card__footer">
                        <div class="card-footer__items">
                          <div class="card-footer__item">
                            777$
                          </div>
                          <div class="card-footer__item">
                            5 balls
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="training-plans-body__item">
                <div class="card">
                  <div class="card__container">
                    <div class="card__header">
                      <div class="card__image">
                        <img 
                          src="../../../assets/home/fitness-women-in-gym.jpeg" 
                          alt="Training Plan" 
                          width="100%" 
                          class="card-image-image"
                        >
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card-body__title">
                        <h1>Training Plan #1</h1>
                      </div>
                      <div class="card-body__desc">
                        Training plan for proffesionals...
                      </div>
                      <div class="card__footer">
                        <div class="card-footer__items">
                          <div class="card-footer__item">
                            777$
                          </div>
                          <div class="card-footer__item">
                            5 balls
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>
