<div class="wrapper">
  <section class="header">
    <app-navbar></app-navbar>
  </section>
  <section class="body">
    <article class="training-plans">
      <div class="training-plans__container">
        <div class="training-plans__header">
          <div class="training-plans__search">
            <div class="training-plans-search__container">
              <input 
                type="text" 
                class="training-plans-search" 
                placeholder="Поиск..."
                maxlength="128"
                [(ngModel)]="searchKey"
                (keyup)="onSearch()"
              >
              <img 
                src="../../../assets/training-plan/search.svg" 
                alt="Поиск"
                width="30px"
                class="training-plans-search-icon"
              >
            </div>
          </div>
        </div>
        <div class="training-plans__body">
          <div class="training-plans-body__container">
            <div *ngIf="!isTrainingPlansLoaded">
              Загрузка...
            </div>
            <div *ngIf="isTrainingPlansLoaded && trainingPlans.length === 0">
              Список доступных планов тренировок пуст!
            </div>
            <div class="training-plans-body__items">
              <div 
                *ngFor="let trainingPlan of trainingPlansDisplay"  
                class="training-plans-body__item"
                (click)="onTrainingPlanClick(trainingPlan)"
              >
                <div class="card">
                  <div class="card__container">
                    <div class="card__header">
                      <div class="card__image">
                        <img 
                          [src]="trainingPlan.photo" 
                          alt="Тренировочный план" 
                          width="100%" 
                          class="card-image-image"
                        >
                      </div>
                    </div>
                    <div class="card__body">
                      <div class="card-body__credits">
                        <div class="card-body__credit">
                          {{ trainingPlan.sport }}
                        </div>
                        <div class="card-body__credit">
                          {{ trainingPlan.rating }} 
                          <img 
                            src="../../../assets/training-plan/star.svg" 
                            alt=""
                            height="15px"
                            class="card-body-credit__image"
                          >
                        </div>
                      </div>
                      <div class="card-body__title">
                        <h1>{{ trainingPlan.name }}</h1>
                      </div>
                      <div class="card-body__desc">
                        {{ trainingPlan.description | truncate:50 }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>
