.wrapper {
    height: 100%;
    overflow-x: hidden;
    background-color: var(--clr-dark);
    color: var(--clr-light);

    /* variables */
    --border-radius: 10px;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--clr-dark);
}

.training-plans__container {
    padding: var(--padding);
}

.training-plans-body__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.card {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    text-shadow: 1px 1px 2px var(--clr-dark);
    transition: opacity 0.3s;
}

.card:hover {
    opacity: 0.7;
}

.card__container {
    padding: 15px;
}

.card-image-image {
    border-radius: var(--border-radius);
}

.card-body__title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.2em;
}

.card-body__title, .card-body__desc {
    text-align: center;
}

.card__body {
    text-transform: uppercase;
}

.card-body__desc {
    text-align: center;
    margin: 15px 0;
}

.card-footer__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 480px) {
    .training-plans-body__items {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .training-plans-body__items {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .training-plans-body__items {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}