@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --clr-dark: #181320;
    --clr-light: #f0f0f0;
    --padding: 15px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html,
body {
    height: 100%;
}

ul,
ol,
li {
    list-style: none;
}

a,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    vertical-align: top;
}

button {
    border: none;
    background-color: transparent;
    color: var(--clr-light);
    font-size: inherit;
}