.wrapper {
    height: 100%;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.welcome, .welcome__container, .welcome__body {
    height: 100%;
}

.welcome__image {
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-img-1 {
    background-image: url('../../assets/home/fitness-women-in-gym.jpeg');
}

.welcome-image__text {
    padding: var(--padding);
    text-align: center;
    text-shadow: 1px 1px 1px var(--clr-dark);
}

.welcome-image-text__title {
    font-size: 1.9em;
    font-weight: 700;
    text-transform: uppercase;
    text-wrap: nowrap;
}

.welcome-image-text__subtitle {
    margin-top: 1.7em;
    font-size: 1.1em;
    font-weight: 500;
}

.welcome-image-text__start-button {
    margin-top: 1.3em;
}

.welcome-image-text-start-button {
    font-size: 1.5em;
}

@media (min-width: 480px) {
    .welcome-image-text__title {
        font-size: 2.5em;
    }

    .welcome-image-text__subtitle {
        font-size: 1.4em;
    }

    .welcome-image-text-start-button {
        font-size: 2.1em;
    }
}